.header {
    width: 100%;
    height: 135px;
    border-bottom: 1px black solid;
    background-color: #FFFCF7;
    ;
}

.header__wrapper {
    height: 135px;
}

.header__sticky {
    position: fixed;
    top: -136px;
    transition: top .2s;
    z-index: 6;
    margin: 0 auto;
    max-width: 1823px;
    width: 100%;
    border-right: 2px black solid;
}

.header__sticky_visible {
    position: fixed;
    top: 0;
    transition: top .2s;
    z-index: 6;
    margin: 0 auto;
    max-width: 1823px;
    width: 100%;
    border-right: 2px black solid;
}

.header__items {
    width: 100%;
    height: 100%;
}

.header__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header__left-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.header__right-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.header__logo-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.header__logo {
    padding-top: 9px;
}

.header__item {
    list-style: none;
    padding: 3rem 0 ;
    font-weight: 600;
}

.header__item a {
    width: 100%;
    height: 100%;
    padding: 1vw 3vw;
    border: 1px solid transparent;
    border-radius: 50%;
}

.header__left-block a:hover, .header__right-block a:hover {
    border: 1px black solid;
    border-radius: 50%;
}
