.hero {
    display: flex;
}

.hero__left-block {
    width: 50%;
}

.hero__large-logo {
    /* padding: 1.5vw; */
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

.hero__right-block {
    width: 50%;
}


