.hero {
    display: flex;
        border-bottom: 0.09em black solid;  

}

.hero__left-block {
    max-width: 50%;
    width: 50%;
}

.hero__large-logo {
    padding: 1.5vw;
    border-right: 0.09em black solid;
    border-bottom: 0.09em black solid;
}

.hero__right-block {
    max-width: 50%;
    width: 50%;
    overflow: auto;
}

.hero__description {
    border-right: 0.09em black solid;
    padding-top: 4rem;
    text-align: center;
}

.hero__description.left-bottom {
    overflow: hidden;
    padding-bottom: 0;
}

.hero__description.right-top-block {
    padding-top: 3rem;
    padding-bottom: 2.6rem;
    border-right: none;
}

.hero__description h1 {
    font-size: 4vw;
    font-weight: 600;
}

.hero__description h2 {
    font-size: 2.3vw;
}

.hero__description h3 {
    font-weight: 400;
    font-size: 1.4rem;
    padding-top: 1.6rem;
    padding-bottom: 2.8rem;
}

.hero__description.right-top-block h3 {
    padding-bottom: 1.4rem;
}

.hero__picture {
    padding: 1.5vw;
    overflow: hidden;
}

.hero__picture img {
    max-width:100%;
}