.slider {
    width: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */  
    border-bottom: 0.09em black solid;
}

.slider__tabs-box {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    padding: 40px 20px 20px 20px;
}

.slider__tab {
    margin: 0 20px;
    cursor: default;
    display: grid;
}


.slider__tab img {
    width: 25rem;
}

.slider__link_non-clickable {
    pointer-events: none;
}

.slider__image, .slider__tab-content {
    grid-area: 1/2;
}

.slider__tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
}

.slider__tab-content {
    text-transform: uppercase;
}

.slider__tab-content h4 {
    font-size: 1rem;
}

.slider__tab-content h3 {
    font-family: 'NeueMachina-Ultrabold';
    padding-top: 0.5rem;
    font-size: 2rem;
}

.slider__tab-image {
    margin: 1rem;
    max-width: 22rem;
    width: 100%;
    height: auto;
    border: 0.09em black solid;
    border-radius: 10px;
    transition: transform .1s;
}

.slider__tab:hover .slider__tab-image {
    transform: scale(1.01);
}