.body {
    background-color: #FFFCF7;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1825px;
    width: 100%;
    border-left: 0.18em black solid;
    border-right: 0.18em black solid;
}

button {
    padding: 1rem 6.6rem;
    background-color: #FFFCF7;
    border: 0.09em black solid;
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

.link {
    color: black;
    font-size: 1.2rem;
}

.pass {
    height: 1000px;
}

ul {
    list-style: none;
}