.ticker {
    border-bottom: 1px black solid;
    overflow: hidden;
    border-right: 1px black solid;
}

.ticker__items {
    margin: 30px auto 35px auto;
    white-space: nowrap;
    display: flex;
    animation: tickers 10s linear infinite;
}

.ticker__item{
    padding-right: 20px;
    max-height: 1vw;
}

.ticker__text-item {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    text-transform: uppercase;
}

.ticker__pic {
    max-width: 5.5vw;
}

@keyframes tickers {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-154%);
    }
}
